@model ReqManager.ViewModels.DataTableViewModel

@{
    ViewBag.Title = "Requirement Traceability Matrix";
}

<table class="table">
    <tr>
        @for (int i = 0; i < Model.dataTable.Columns.Count; i++)
        {
            <td>@Html.Label(Model.dataTable.Columns[i].ColumnName)</td>
        }
    </tr>

    @for (int i = 0; i < Model.dataTable.Rows.Count; i++)
    {
        <tr>
            @for (int j = 0; j < Model.dataTable.Columns.Count; j++)
            {
                <td>
                    @if (!string.IsNullOrEmpty(Model.dataTable.Rows[i][j].ToString()))
                    {
                        if (j.Equals(0))
                        {
                            @Html.Label(Model.dataTable.Rows[i][j].ToString())
                        }
                        else
                        {
                            @Html.ActionLink(
                        Model.dataTable.Rows[i][j].ToString(),
                        "ShowLink",
                        "LinkBetweenRequirements",
                        new
                        {
                            origin = Model.dataTable.Columns[i + 1].ColumnName,
                            target = Model.dataTable.Columns[j].ColumnName
                        },
                        htmlAttributes: null
                        )
                        }
                    }
                </td>
            }
        </tr>
    }
</table>

