USE [ReqManager]
GO
/****** Object:  Table [ACCESS].[CONTROLLER_ACTION]    Script Date: 12/25/2017 09:46:40 ******/
SET IDENTITY_INSERT [ACCESS].[CONTROLLER_ACTION] ON
INSERT [ACCESS].[CONTROLLER_ACTION] ([ControllerActionID], [controller], [action], [IsGet]) VALUES (1, N'StakeholderClassificationController', N'Index', 1)
INSERT [ACCESS].[CONTROLLER_ACTION] ([ControllerActionID], [controller], [action], [IsGet]) VALUES (2, N'StakeholderClassificationController', N'Details', 1)
INSERT [ACCESS].[CONTROLLER_ACTION] ([ControllerActionID], [controller], [action], [IsGet]) VALUES (3, N'StakeholderClassificationController', N'Create', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [ACCESS].[CONTROLLER_ACTION] OFF
/****** Object:  Table [REQ].[CHARACTERISTICS]    Script Date: 12/25/2017 09:46:40 ******/
SET IDENTITY_INSERT [REQ].[CHARACTERISTICS] ON
INSERT [REQ].[CHARACTERISTICS] ([CharacteristicsID], [name], [description], [required]) VALUES (1, N'Unitary', N'The requirement addresses one and only one thing.', 1)
INSERT [REQ].[CHARACTERISTICS] ([CharacteristicsID], [name], [description], [required]) VALUES (2, N'Consistent', N'The requirement does not contradict any other requirement and is fully consistent with all authoritative external documentation.', 1)
INSERT [REQ].[CHARACTERISTICS] ([CharacteristicsID], [name], [description], [required]) VALUES (3, N'Unambiguous', N'The requirement is concisely stated without recourse to technical jargon, acronyms (unless defined elsewhere in the Requirements document), or other esoteric verbiage.', 1)
SET IDENTITY_INSERT [REQ].[CHARACTERISTICS] OFF
/****** Object:  Table [LINK].[ATTRIBUTES]    Script Date: 12/25/2017 09:46:40 ******/
SET IDENTITY_INSERT [LINK].[ATTRIBUTES] ON
INSERT [LINK].[ATTRIBUTES] ([AttributeID], [description]) VALUES (1, N'Additional Notes')
INSERT [LINK].[ATTRIBUTES] ([AttributeID], [description]) VALUES (3, N'Rationale')
INSERT [LINK].[ATTRIBUTES] ([AttributeID], [description]) VALUES (2, N'Restrictions')
SET IDENTITY_INSERT [LINK].[ATTRIBUTES] OFF
/****** Object:  Table [ART].[ARTIFACT_TYPE]    Script Date: 12/25/2017 09:46:40 ******/
SET IDENTITY_INSERT [ART].[ARTIFACT_TYPE] ON
INSERT [ART].[ARTIFACT_TYPE] ([ArtifactTypeID], [description]) VALUES (2, N'Architecture Design Documentation')
INSERT [ART].[ARTIFACT_TYPE] ([ArtifactTypeID], [description]) VALUES (6, N'Codes')
INSERT [ART].[ARTIFACT_TYPE] ([ArtifactTypeID], [description]) VALUES (3, N'Entity–relationship Diagram')
SET IDENTITY_INSERT [ART].[ARTIFACT_TYPE] OFF
/****** Object:  Table [PROJ].[STAKEHOLDER_CLASSIFICATION]    Script Date: 12/25/2017 09:46:40 ******/
SET IDENTITY_INSERT [PROJ].[STAKEHOLDER_CLASSIFICATION] ON
INSERT [PROJ].[STAKEHOLDER_CLASSIFICATION] ([ClassificationID], [description]) VALUES (5, N'Customers')
INSERT [PROJ].[STAKEHOLDER_CLASSIFICATION] ([ClassificationID], [description]) VALUES (3, N'Developer')
INSERT [PROJ].[STAKEHOLDER_CLASSIFICATION] ([ClassificationID], [description]) VALUES (1, N'End User')
SET IDENTITY_INSERT [PROJ].[STAKEHOLDER_CLASSIFICATION] OFF
/****** Object:  Table [LINK].[TYPE_LINK]    Script Date: 12/25/2017 09:46:40 ******/
SET IDENTITY_INSERT [LINK].[TYPE_LINK] ON
INSERT [LINK].[TYPE_LINK] ([TypeLinkID], [CreationUserID], [description], [creationDate]) VALUES (1, 1, N'Satisfaction', CAST(0x0000A85400922A9A AS DateTime))
INSERT [LINK].[TYPE_LINK] ([TypeLinkID], [CreationUserID], [description], [creationDate]) VALUES (2, 1, N'Dependency', CAST(0x0000A85400922A9A AS DateTime))
INSERT [LINK].[TYPE_LINK] ([TypeLinkID], [CreationUserID], [description], [creationDate]) VALUES (3, 1, N'Evolution', CAST(0x0000A85400922A9A AS DateTime))
SET IDENTITY_INSERT [LINK].[TYPE_LINK] OFF
/****** Object:  Table [REQ].[REQUIREMENT_TEMPLATE]    Script Date: 12/25/2017 09:46:40 ******/
SET IDENTITY_INSERT [REQ].[REQUIREMENT_TEMPLATE] ON
INSERT [REQ].[REQUIREMENT_TEMPLATE] ([RequirementTemplateID], [CreationUserID], [RequirementTypeID], [description], [templateHtml], [createDate]) VALUES (1, 1, 1, N'Template for Stories User (English)', N'<p><strong>As a</strong> :</p><p><strong>I want</strong> :</p><p><strong>so that</strong> :</p>', CAST(0x0000A85400843036 AS DateTime))
INSERT [REQ].[REQUIREMENT_TEMPLATE] ([RequirementTemplateID], [CreationUserID], [RequirementTypeID], [description], [templateHtml], [createDate]) VALUES (2, 1, 2, N'Template for Functional Requirement (English)', N'<p><strong>Description</strong>:&nbsp;</p><p><strong>Input</strong>:&nbsp;</p><p><strong>Process</strong>:&nbsp;</p><p><strong>Output</strong>:&nbsp;</p><p><strong>Rationale</strong>:&nbsp;</p>', CAST(0x0000A854008A5CFB AS DateTime))
INSERT [REQ].[REQUIREMENT_TEMPLATE] ([RequirementTemplateID], [CreationUserID], [RequirementTypeID], [description], [templateHtml], [createDate]) VALUES (3, 1, 3, N'Template for Non-Functional Requirements (English)', N'<p><strong>Description</strong>:&nbsp;</p><p><strong>Rationale</strong>:&nbsp;</p>', CAST(0x0000A854008AC4D1 AS DateTime))
SET IDENTITY_INSERT [REQ].[REQUIREMENT_TEMPLATE] OFF
/****** Object:  Table [REQ].[REQUIREMENT_SUB_TYPE]    Script Date: 12/25/2017 09:46:40 ******/
SET IDENTITY_INSERT [REQ].[REQUIREMENT_SUB_TYPE] ON
INSERT [REQ].[REQUIREMENT_SUB_TYPE] ([RequirementSubTypeID], [RequirementTypeID], [description]) VALUES (1, 3, N'Accessibility')
INSERT [REQ].[REQUIREMENT_SUB_TYPE] ([RequirementSubTypeID], [RequirementTypeID], [description]) VALUES (2, 3, N'Configuration management')
INSERT [REQ].[REQUIREMENT_SUB_TYPE] ([RequirementSubTypeID], [RequirementTypeID], [description]) VALUES (3, 3, N'Documentation')
SET IDENTITY_INSERT [REQ].[REQUIREMENT_SUB_TYPE] OFF

INSERT INTO LINK.ATTRIBUTES_TYPE_LINK
SELECT A.AttributeID, TL.TypeLinkID FROM LINK.TYPE_LINK AS TL, LINK.ATTRIBUTES AS A