@model HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
        <h1 class="text-danger">Error</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <div class="clear"></div>
        <h3>@Model.Exception.Message</h3>
    <a href="javascript: window.history.go(-1)" class="btn btn-default">Go Back to Previous Page</a>
</body>
</html>
