@model HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
        <h1 class="text-danger">Error</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <div class="clear"></div>
        <h3>@Model.Exception.Message</h3>
    <p>@Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName, new { @class = "btn btn-default"})</p>
</body>
</html>
