@model IEnumerable<string>

@foreach (var item in Model)
{
    <ul>
        <li>
            @Html.ActionLink(
                        item,
                        null,
                        null,
                        htmlAttributes: new { @class = "linkTracking" }
                        )
        </li>
    </ul>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

       
    </script>

}
