@model ReqManager.Entities.Link.AttributesTypeLinkEntity

@{
    ViewBag.Title = "Attribute for Type Link Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Attribute
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attributes.description)
        </dd>

        <dt>
            Type Link
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeLink.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttributesTypeLinkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
