@model IEnumerable<ReqManager.Entities.Project.CharacteristicsEntity>

@{
    ViewBag.Title = "Requirements Characteristics";
}

<div class="form-group">
    @Html.ActionLink("Create New", "Create", "Characteristics", null, new { @class = "btn btn-primary" })
</div>
<table id="characteristics" class="display">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Is It Required?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
          
    </tbody>

</table>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#characteristics').dataTable({
            "bServerSide": true,
            "bProcessing": false,
            searchDelay: 2000,
            ajax: {
                "url": '@Url.Action("GetFilter", "Characteristics")',
                "type": 'POST',
                "dataSrc": function (json) {
                    var return_data = new Array();                    
                    for (var i = 0; i < json.aaData.length; i++) {
                        return_data.push({
                            'name': json.aaData[i].name,
                            'description': json.aaData[i].description,
                            'required': json.aaData[i].required ? '<input type="checkbox" checked disabled>' : '<input type="checkbox" disabled>',
                            'action':
                                '<div class="dropdown">' +
                                '<a href="#" title="Options" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">' +
                                '<i class="fa fa-chevron-down icon_8"></i>' +
                                '<div class="ripple-wrapper"></div>' +
                                '</a>' +
                                '<ul class="dropdown-menu dropdown-menu-right">' +
                                '<li><a href=\"../Characteristics/Edit/' + json.aaData[i].CharacteristicsID + '\">Edit</a></li>' +
                                '<li><a href=\"../Characteristics/Details/' + json.aaData[i].CharacteristicsID + '\">Details</a></li>' +
                                '<li><a href=\"../Characteristics/Delete/' + json.aaData[i].CharacteristicsID + '\">Delete</a></li>' +
                                '</ul>'
                        })
                    }

                    return return_data;
                }
            },
            "aoColumns": [
                { 'data': 'name' },
                { 'data': 'description' },
                { 'data': 'required' },
                { 'data': 'action' }
            ]
        });
    });
</script>
