@model ReqManager.ViewModels.UserRoleViewModel

@{
    ViewBag.Title = "User - Role Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserRoleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
